#contact-button {
	color: black;
	position: absolute;
	right: 0.8rem;
	background-color: var(--text-light);
	border: none;
	cursor: pointer;
	font-weight: 500;

	border-radius: 6px;
	padding: 0.6rem;

	font-size: 1.3rem;
	font-family: "Montserrat";
	transition: ease 0.1s;

    box-shadow: 8px 8px 0px #000000;
    border: 2px solid black;
}

#contact-button:hover {
    transform: translate(4px, 4px);
    box-shadow: none;
}


.minor-button {
	background-color: transparent;
	color: white;
	border: 1px solid white;
	border-radius: 6px;
	padding: 0.3rem;
	cursor: pointer;
}
.minor-button:hover {
	background-color: #FFFFFF34;
}
