#contact-button {
	color: white;
	position: absolute;
	right: 0.8rem;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-weight: 500;

	border-radius: 6px;
	padding: 0.8rem;

	font-size: 1.3rem;
	font-family: "Montserrat";
	transition: ease 0.3s;
}

#contact-button:hover {
	background-color: #FFFFFF34;
	border-radius: 16px;
}

.minor-button {
	background-color: transparent;
	color: white;
	border: 1px solid white;
	border-radius: 6px;
	padding: 0.3rem;
	cursor: pointer;
}
.minor-button:hover {
	background-color: #FFFFFF34;
}
