
/* Definitions */
:root {
	--main-accent: #3AAFA9;
	--secondary-accent: #2B7A78;
	--dark: #17252A;
	--light-main: #DEF2F1;
	--text-dark: #111111;
}


body {
	margin: 0px;
	background-color: var(--light-main);
}

html {
	background-color: var(--light-main);
}

.banner {
	background-color: var(--main-accent);
	font-family: "Montserrat" !important;
	padding: 1rem;
}
.banner h1 {
	font-weight: 800;
	font-size: 4rem;
	text-align: center;
	color: white;
	margin-bottom: 0;
}
.banner h2 {
	text-align: center;
	font-size: 2rem;
	color: var(--text-dark);
	margin-top: 1rem;
}
.banner ul {
	list-style: none;
	display: flex;
	font-size: 1.2rem;
	justify-content: center; 
}
.banner li {
	padding-top: 1rem;
	text-align: center;
	color: var(--text-dark);
	cursor: pointer;

	padding-left: 1rem;
	padding-right: 1rem;
}
.banner li:hover {
	text-decoration: underline;
}

.section h1 {
	font-family: "Montserrat";
	font-size: 3rem;
}

.section {
	font-family: "Reddit Mono";
	color: var(--text-dark);
	padding: 2rem;
	margin: auto;
	width: 80vw;
}

.section-numbering {
	color: gray;
	font-family: "Reddit Mono";
}

footer {
	display: flex;
	background-color: var(--dark);
	color: white;
	padding: 2rem;
	font-family: "Reddit Mono";
	align-items: center;
}

footer img {
	height: 2rem;
	margin-left: 4rem;
	margin-right: 0.4rem;
	cursor: pointer;
}

#github-text {
	cursor: pointer;
}

#proficiency-table {
	display: flex;
}

#proficiency-table ul {
	list-style: none;
	padding-left: 4rem;
}

.content-paragraph {
	font-family: "Roboto";
	padding-left: 4rem;
	width: 60%;
	margin-top: 3rem;
	margin-bottom: 6rem;
}

.section h2 {
	padding-left: 4rem;
}


/* Mobile Styles */
@media screen and (max-width: 700px) {
	.banner ul {
		display: none;
	}

	.section {
		width: 100vw;
		padding: 0px;
	}

	.section h1 {
		text-align: center;
	}

	.section-numbering {
		display: none;
	}

	
}




/* Game stuff */
#asteroid-player {
	position: absolute;
	display: none;
}
.bullet {
	position: absolute;
	color: red;
}
.asteroid {
	position: absolute;
	font-size: 8rem;
}
