

#canvas {
	background-color: white;
	margin-right: 1rem;
}

#nn-table, #nn-table-labels {
	display: flex;
}

.nn-out {
	height: 2rem;
	min-width: 2rem;
	width: fit-content;
	text-align: center;
	padding: 0.2rem;
}

#nn-table .nn-out {
	border: 1px solid black;
}

#nn-table-labels .nn-out {
	border: 1px solid transparent;
}

.nn-container {
	display: flex;
	align-items: center;
	margin-left: 4rem;
}

#control-buttons {
	display: flex;
	margin-left: 4rem;
}

#control-buttons button {
	margin: 0.5rem;
}

#demo-notice {
	display: none;
}
