/* Definitions */
:root {
	--main-accent: #3AAFA9;
	--secondary-accent: #2B7A78;
	--dark: #17252A;
	--light-main: #DEF2F1;
	--text-dark: #111111;
}

#outer-modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #00000074;
	transition: 0.2s ease;
	z-index: -50;
}

#modal {
	font-family: "Montserrat";

	position: fixed;
	width: 80vw;
	left: 10vw;
	top: 8rem;
	padding: 2rem;
	background-color: var(--dark);
	color: white;
	border-radius: 1rem;
	box-shadow: 5px 5px 20px 10px #00000084;
}


#modal h1 {
	font-size: 3rem;
	padding-left: 3rem;
}

#modal ul {
	list-style: none;
	padding-left: 48px;
	font-family: "Reddit Mono";
}

#modal li {
	margin-bottom: 0.3rem;
}

#modal svg {
	width: 1rem;
}

/* Mobile Styles */
@media screen and (max-width: 700px) {
	#modal {
		left: 0 !important;
		padding: 1rem !important;
		width: 100vw !important;
		border-radius: 0px !important;
		height: 40vh;
	}
}


